In [46]:
import pandas as pd
import numpy as np

In [47]:
d = {'col1' : [1,2,3], 'col2' : ['a','b','c']}
df = pd.DataFrame(data = d)

In [22]:
for i in df.col1:
    print(i)

1
2
3

In [13]:
ls = ['col1:1','col2:2','col3:3']

In [14]:
ls2 = list(map(lambda x: x.split(':')[0],ls))

In [15]:
ls2

['col1', 'col2', 'col3']

In [4]:
df['col3'] = 0

In [19]:
df[['col4','col5']] = None

In [20]:
df

   col1 col2  col3  col4  col5
0     1    a     0  None  None
1     2    b     0  None  None
2     3    c     0  None  None

In [21]:
df['col4'] = 'ds'

In [47]:
for i in range(df.shape[0]):
    df.iloc[i].col1 = df.iloc[i].col1 * 3

/Users/baljee/opt/anaconda3/lib/python3.9/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [55]:
df.col1 = df.col1.apply(lambda x: x*2)

In [76]:
sampl = [[1,'a'],[2,'b'],[3,'c']]

In [77]:
df[['col4','col5']] = sampl

In [78]:
df.itertuples()

   col1 col2  col3 col4 col5
0     8    a     0    1    a
1    10    b     0    2    b
2    12    c     0    3    c

In [53]:
def ret_df(*args):
    sam = None
    for i in args:
        try:
            sam = sam.join(i)
        except:
            sam = i
    return [args,sam]

In [54]:
df

   col1 col2
0     1    a
1     2    b
2     3    c

In [55]:
d2 = {'col3' : [31,32,33], 'col4' : ['4a','4b','4c']}
df2 = pd.DataFrame(data = d2)

In [56]:
df2

   col3 col4
0    31   4a
1    32   4b
2    33   4c

In [57]:
dff = ret_df(df,df2)

In [58]:
dff[0][0].columns

Index(['col1', 'col2'], dtype='object')

In [59]:
dff

[(   col1 col2
  0     1    a
  1     2    b
  2     3    c,
     col3 col4
  0    31   4a
  1    32   4b
  2    33   4c),
    col1 col2  col3 col4
 0     1    a    31   4a
 1     2    b    32   4b
 2     3    c    33   4c]