## Fun with data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

data_categories = pd.read_csv('./data/disaster_categories.csv')
data_messages = pd.read_csv('./data/disaster_messages.csv')

In [4]:
data_categories

          id                                         categories
0          2  related-1;request-0;offer-0;aid_related-0;medi...
1          7  related-1;request-0;offer-0;aid_related-1;medi...
2          8  related-1;request-0;offer-0;aid_related-0;medi...
3          9  related-1;request-1;offer-0;aid_related-1;medi...
4         12  related-1;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
26243  30261  related-0;request-0;offer-0;aid_related-0;medi...
26244  30262  related-0;request-0;offer-0;aid_related-0;medi...
26245  30263  related-1;request-0;offer-0;aid_related-0;medi...
26246  30264  related-1;request-0;offer-0;aid_related-1;medi...
26247  30265  related-1;request-0;offer-0;aid_related-0;medi...

[26248 rows x 2 columns]

In [8]:
def new_rows(df : "dataframe", col : "col_name", o_split: "outer symbol", i_split: "inner symbol") -> "new_df":
    row = df[col][0]
    split_row = row.split(o_split)
    col_list = [pairs.split(i_split)[0] for pairs in split_row]
    df[col_list] = None
    
    final_ls = []
    
    def split_row_vals(row_val):
        row_split = row_val.split(o_split)
        vals = [val.split(i_split)[-1] for val in row_split]
        final_ls.append(vals)
        
    df[col].apply(lambda x : split_row_vals(x))
    df[list(df.columns[2:])] = final_ls
    
    return df.drop([col],axis = 1)

In [9]:
data_c_cpy = data_categories.copy()
data_c_cpy = new_rows(data_c_cpy,'categories',';','-')

In [10]:
data_c_cpy.columns

Index(['id', 'related', 'request', 'offer', 'aid_related', 'medical_help',
       'medical_products', 'search_and_rescue', 'security', 'military',
       'child_alone', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')